/.vscode
/class1.py
/class2.py
/class3.py
/even_odd.py
/factorial.py
/file.py
/file2.py
/file3.py
/file4.py
/filter.py
/fliter.py
/fun1.py
/fun2.py
/gcd.py
/genpass.py
/genrator.py
/hello.py
/if-esle.py
/json.py
/lamda.py
/lcm.py
/map.py
/map1.py
/multiple.py
/prime.py
/reverse.py
/sum_avg.py
/vowel_consunent.py
/workspace.code-workspace
/_josn.json